.section-1 {
  margin-top: 5rem;
  display: grid;
  max-width: 1200px;
  grid-template-columns: 2fr 3fr;
  gap: 40px;
  margin-left: auto;
  margin-right: auto;
}

.section-1 img {
  justify-self: center;
  height: 400px;
  object-fit: cover;
}

.info-principal {
  align-self: start;
  margin-top: 1rem;
  text-align: left;
  position: relative;
}

.info-principal h1 {
  font-family: "Playfair Display";
  font-size: 4.5rem;
  line-height: 4.6rem;
  color: #141414;
  z-index: 2;
}
.titulo-principal::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("/img/deco.png");
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  left: -30px;
  top: -30px;
}

.info-principal p {
  padding-left: 0.5rem;
  margin-top: 2rem;
  color: #525252;
  font-size: 1.1rem;
  font-family: fira sans;
}
@media (max-width: 1230px) {
  .section-1 {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
@media (max-width: 1000px) {
  .info-principal h1 {
    font-size: 3.5rem;
    line-height: 1.3;
  }
}

@media (max-width: 860px) {
  .section-1 {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2rem;
    gap: 0px;
  }
  .info-principal h1 {
    text-align: left;
  }
  .info-principal p {
    margin-top: 1rem;

    text-align: center;
  }
  .titulo-principal::before {
    content: "";
    width: 70px;
    background: url("/img/deco.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -1;
    left: -20px;
    top: -5px;
  }

  .info-principal p {
    text-align: left;
  }
}

@media (max-width: 480px) {
  .info-principal p {
    font-size: 1rem;
    max-width: 30ch;
  }
  .info-principal h1 {
    font-size: 2.3rem;
  }
}
@media (max-width: 400px) {
  .titulo-principal::before {
    width: 64px;
    top: -15px;
  }
}

@media (max-width: 375px) {
  .section-1 img {
    height: 350px;
  }
  .info-principal h1 {
    font-size: 1.9rem;
  }
  .titulo-principal::before {
    width: 50px;
    left: -20px;
    top: -10px;
  }
}
